<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Advinhe o Número</title>
</head>


<body>

    <header>
        <h1>Advinhe o Número</h1>
    </header>

    <main>
        
        <div class="jogo">
            <h1>Qual seu palpite!</h1>

            <form method="post">
                <label for="palpite">Dgite um número de 1 a 20</label>
                <input type="number" name="number" id="palpite">
                <input type="submit" class="bt-enviar" value="ENVIAR">
            </form>

            <!-- {% if resultado %} 
            <div class="resultado {% if "Parabéns" in resultado %}acerto{% else %}erro{% endif %}">
            <p>{{ resultado }}</p>
            </div>
            {% endif %} -->
        </div>    

    </main>    

</body>
</html>